    <div style='margin: auto; width: 400px;'>
      <h1>Table Records</h1>
<%-content-%>
    </div>
    <div style='margin: auto; width: 800px; text-align: center;'>
<%-paging-%>
    </div>
    <center><button type='button' style='width: 150px;' onclick='javascript:location="add";'>Add Record</button></center>
